{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<div class="desktop">

    {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}

    <div class="desktop-icon" ondblclick="CreateAndOpenApp(event)" for="{{ my_page.url | relative_url }}" title="{{ my_page.title | escape
                }}" data-icon="{{ my_page.icon }}" data-content="{{ my_page.content | escape
                }}">
        <div class="icon">
            <img src="{{ my_page.icon-large | default: my_page.icon | default: '/win98/icons/SHELL32_3.ico' }}">
        </div>
        <div class="icon-label">{{ my_page.title | escape
            }}</div>
    </div>

    {%- endif -%}
    {%- endfor -%}

    <div id="welcome-content-home" style="display: none;">
        {{ content }}
    </div>

</div>