
$ssp-font-path: "../../assets/fonts/texgyreheros" !default;
/* latin */
@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('#{$ssp-font-path}/texgyreheros-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('#{$ssp-font-path}/texgyreheros-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('#{$ssp-font-path}/texgyreheros-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('#{$ssp-font-path}/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

