---
layout: windows
---
<div id="myDocument" class="window">
    <div class="title-bar inactive">
        <div class="title-bar-text">
            <img src="/win98/icons/directory_open_file_mydocs_small-5.png" alt="My Documents">{{ page.title | escape }}
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Restore" style="display: none;"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-content">
        {{ content }}
    </div>
</div>