<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="scanlines">
    {%- include bootup.html -%}

    <div id="app-container" class="app-container hidden">
        <div id="desktop-area" class="desktop-area">
            {%- include desktop.html -%}
        </div>
        {%- include taskbar.html -%}
    </div>
    <script src="/win98/js/bootup.js"></script>
    <script src="/win98/js/startmenu.js"></script>
    <script src="/win98/js/window.js"></script>
    <script src="/win98/js/appManager.js"></script>
    <script src="/win98/windows.js"></script>
</body>

</html>