---
layout: windows
---

{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

{%- for path in page_paths -%}
{%- assign my_page = site.pages | where: "path", path | first -%}
{%- if my_page.title -%}

<!-- <div id="{{ my_page.url | relative_url }}" class="window hidden" style="top: 30px; left: 50px;">
    <div class="title-bar">
        <div class="title-bar-text">
            {% if my_page.icon %}
            <img src="{{ my_page.icon }}" alt="Icon">
            {% else %}
            <img src="/win98/icons/SHELL32_3.ico" alt="My Documents">
            {% endif %}
            {{ my_page.title | escape }}
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Restore" style="display: none;"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-content">
        <ul class="tree-view">
            {{ my_page.content }}
        </ul>
    </div>
</div> -->

{%- endif -%}
{%- endfor -%}