---
layout: windows
---
<div class="window" style="top: 30px; left: 50px; height: auto;">
    <div class="title-bar">
        <div class="title-bar-text">
            <img src="/win98/icons/SHELL32_3.ico" alt="My Documents">Home
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Restore" style="display: none;"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-content" style="height: 100vh;">
        <ul class="tree-view">
            {{ content }}
        </ul>
    </div>
</div>